<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tcpexample.maisondechat">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tcpexample.maisondechat.CatMainActivity"
            android:theme="@style/AppThemeno"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBfoomN2su8UWoQh4TBdmhq_Gor7_0ZG7s" />

        <activity
            android:name="com.tcpexample.maisondechat.MainActivity">

        </activity>
        <activity android:name="com.tcpexample.maisondechat.RecordListActivity"
            android:label="Record"/>
        <activity android:name="com.tcpexample.maisondechat.MyLocationResultActivity"/>
        <activity android:name="com.tcpexample.maisondechat.MyPicImageDetailActivity"
            android:label="PhotoDetail"
            />
        <activity android:name="com.tcpexample.maisondechat.CatDetailMainActivity"/>
        <activity android:name="com.tcpexample.maisondechat.CatDetailQWebViewMainActivity"/>

    </application>

</manifest>